div {
    text-align: center;
}

main {
    position: absolute;
    top: 25%;
    left: 35%;
}

p {
    margin: none;
    text-align: center;
}

a {
    padding-right: 3rem;
    text-decoration: none;
    color: black;
}
